
<footer class="site-footer">
  <ul class="footer-social">
    <li>
      <a href="https://www.instagram.com/oddlythat/" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/andrea-ojeda-355673257/" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>

    <li>
      <a href="https://www.tiktok.com/@pinchmepretty?_t=ZT-8yEMRuU17UL&_r=1"
         aria-label="TikTok" target="_blank" rel="noopener">
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </li>
  </ul>
</footer>
